.searchpage-container {
  margin: 0 auto;
  background: #FFEFBA;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA);
  background: linear-gradient(to bottom, #FFFFFF, #FFEFBA);
  padding: 20px; /* 為了讓內容不貼緊邊框，添加內邊距 */
}


.search-content{
  max-width: 800px;
  margin: 0 auto;
  background-color: #f5f5f59f; /* 背景顏色 */
  padding: 30px; /* 為了讓內容不貼緊邊框，添加內邊距 */
  border-radius: 20px;
}


.search-bar {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.slogan {
  margin-bottom: 20px;
}

.hot-searches {
  margin-bottom: 20px;
}

.hot-searches span {
  cursor: pointer;
}

.conditions {
  margin-bottom: 20px;
}

.tagName {
  font-weight: bold;
}

.search-button {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #0056b3;
}