.search-results-container {
    padding: 20px;
    border-radius: 50px;
}

.search-result-item {
background-color: #f9f9f9;
border-radius: 5px;
padding: 20px;
margin-bottom: 20px;
}

.search-result-item:hover {
background-color: #e9e9e9;
}

.search-result-content {
margin-bottom: 10px;
}

.description {
font-size: 16px;
line-height: 1.5;
margin-bottom: 10px;
}

.link {
color: #007bff;
text-decoration: none;
}

.link:hover {
text-decoration: underline;
}